{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="useraccounts-contener">

        <!-- Section Inscritpion -->
        <div class="useraccounts-inscription-contener">
            <h1>Pas encore de compte ?</h1>
            <h2>Inscrivez vous maintenant</h2>
            <a class="button" href="{% url 'sign-up' %}">Inscription</a>
        </div>

        <!-- Section Connexion -->
        <div class="form-contener">
            <img src="{% static 'UserAccounts/images/user5.png' %}" alt="utilisateur">
            <h2>Connectez-vous</h2>

            <form class="form" action="" method="post" novalidate>
                {% csrf_token %}
                
                <p>
                    <label for="{{ form.username.id_for_label }}">Utilisateur</label>
                    {{ form.username }}

                    {% if form.username.errors %}
                        {% for error in form.username.errors %}
                            <p class="useraccounts-error">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </p>           
                
                <p>
                    <label for="{{ form.password.id_for_label }}">Mot de passe</label>
                    {{ form.password }}
                    {% if form.password.errors %}
                        {% for error in form.password.errors %}
                            <p class="useraccounts-error">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </p>

                {% if login_error %}
                    <p class="useraccounts-error useraccounts-red">{{ login_error }}</p>
                {% endif %}
                
                <div class="useraccounts-checkbox-contener">
                    <label for="useraccounts-checkbox-login" class="useraccounts-checkbox-label">Afficher le mot de passe</label>
                    <input id="useraccounts-checkbox-login" type="checkbox">
                </div>

                <button class="button" type="submit">Connexion</button>

                {% if form.non_field_errors %}
                    <ul class="useraccounts-error">
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </form>
        </div>

        <!-- Script JS permettant de modifier l'affichage du mot de passe -->
        <script>
            const password = document.getElementById('{{ form.password.id_for_label }}');
            const displayPassword = document.getElementById('useraccounts-checkbox-login');
        
            displayPassword.addEventListener('change', function() {
                if (this.checked) {
                    password.type = 'text';
                } else {
                    password.type = 'password';
                }
            });
        </script>
    </div>
{% endblock %}
